{% extends 'base.html' %}
{% block head %}
<title>Login</title>
{% endblock %}
{% block body %}
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        {% if error %}
            <p class="errors">The password or username you have entered do not match.</p>
        {% endif %}
        <p>If you do not have an account click <a href="{% url 'signup' %}">here</a> to make one.</p>
        <button type="submit">Login</button>
    </form>
{% endblock %}
{% block javascript %}

{% endblock %}

